<form name="container-form" method="POST" class='mt-4' action="/courses/handle-form-actions">

    <h3>Khoá học của tôi</h3>

    <a href="/me/trash/courses">Thùng rác </a>
    <div class="mt-4 d-flex align-items-center">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="checkbox-all">
            <label class="form-check-label" for="checkbox-all">Chọn tất cả</label>
        </div>

        <select class="form-control form-control-sm checkbox-select-all-options" name="action" required>
            <option value="">--- Chọn hành động ---</option>
            <option value="delete">Xoá</option>

        </select>

        <button class="btn btn-primary btn-sm btn-checkall-submit disabled">Thực hiện</button>
    </div>
    <table class='table mt-4'>
        <thead>
            <tr>
                <th scope='col'>#</th>
                <th scope='col'>STT</th>
                <th scope='col'>Tên khoá học</th>
                <th scope='col' colspan='2'>Thời gian tạo</th>

            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" value="{{this._id}}" name="courseIds[]">
                        <label class="form-check-label" for="exampleCheck1"></label>
                    </div>
                </td>
                <th scope='row'>{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.createAt}}</td>
                <td>
                    <a href='/courses/{{this._id}}/edit' class='btn btn-link'>Sửa</a>
                    <a href='' class='btn btn-link' data-toggle='modal' data-id='{{this._id}}'
                        data-target='#delete-course-modal'>Xoá</a>

                </td>
            </tr>

            {{else}}
            <tr>
                <td colspan="5">
                    Bạn chưa đăng kí khoá học nào.
                    <a href="/courses/create">Đăng kí khoá học</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>
{{! --Confirm Delete Course -- }}
<div id='delete-course-modal' class='modal' tabindex='-1' role='dialog'>
    <div class='modal-dialog' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title'>Xoá khoá học </h5>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                    <span aria-hidden='true'>&times;</span>
                </button>
            </div>
            <div class='modal-body'>
                <p>Bạn chắc chắn muốn xoá khoá học này không ?</p>
            </div>
            <div class='modal-footer'>
                <button id='btn-delete-course' type='button' class='btn btn-danger'>Xoá </button>
                <button type='button' class='btn btn-secondary' data-dismiss='modal'>Huỷ</button>
            </div>
        </div>
    </div>
</div>

{{! Delete hidden form }}
<form method='POST' name='delete-course-form'>
</form>

<script>

    document.addEventListener('DOMContentLoaded', function () {
        var courseId;
        var btnDeleteCourse = document.getElementById('btn-delete-course');
        var deleteForms = document.forms['delete-course-form'];
        var checkboxAll = $('#checkbox-all');
        var courseItemCheckbox = $('input[name="courseIds[]"]');
        var checkAllSubmitBtn = $('.btn-checkall-submit');
        var containerForm = document.forms['container-form']


        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            courseId = button.data('id');
        });
        btnDeleteCourse.onclick = function () {
            deleteForms.action = '/courses/' + courseId + '?_method=DELETE';
            deleteForms.submit();
        }

        //Checkbox all clicked
        checkboxAll.change(function () {
            var isCheckedAll = $(this).prop('checked');

            courseItemCheckbox.prop('checked', isCheckedAll);
            rendexCheckAllSubmitBtn();

        });

        //Course item checkbox clicked
        courseItemCheckbox.change(function () {
            var isCheckedAll = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length;
            checkboxAll.prop('checked', isCheckedAll);
            rendexCheckAllSubmitBtn();

        });

        //Check all submit button clicked
        checkAllSubmitBtn.click(function (e) {
            e.preventDefault();
            var isSubmitable = !$(this).hasClass('disabled');
            if (isSubmitable) {
                containerForm.submit();
            }
        })

        checkAllSubmitBtn.on('submit', function (e) {
            var isSubmitable = !$(this).hasClass('disabled');
            if (!isSubmitable) {
                e.preventDefault();
            }
        });

        function rendexCheckAllSubmitBtn() {
            var checkdeCount = $('input[name="courseIds[]"]:checked').length;
            if (checkdeCount > 0) {
                checkAllSubmitBtn.removeClass('disabled');
            }
            else {
                checkAllSubmitBtn.addClass('disabled');
            }
        }
        console.log(containerForm)
    })
</script>